body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background-container {
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nfc-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.nfc-button:active {
    transform: scale(0.9);
}

.nfc-button img {
    width: 150px;
    pointer-events: none;
}
